<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/index.js" async defer></script>
  </head>
  <body>
    <div id="background"></div>
    <nav>
      <div class="auth-button-container" id="index-auth-container">
        <div class="login">
          <a href="/auth/login" class="btn"></a>
        </div>
        <div signin="signinn">¨
          <a href="/auth/signin" class="btn"></a>
        </div>
        <button #login>Login</button>
        <button #signin>SignIn</button>
      </div>
    </nav>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. In aliquam
      aspernatur nostrum maiores quia exercitationem, blanditiis iure, aperiam
      deserunt facilis nobis, tenetur adipisci! Eligendi iusto natus ad amet a
      corporis maxime neque asperiores illum fuga quo vitae voluptates
      consequuntur, sapiente cumque minus autem temporibus nam impedit repellat.
      Debitis quibusdam placeat magni officia dignissimos quaerat eos sequi
      error velit assumenda, sint ab veniam eveniet autem similique, et eius
      dicta minima neque molestiae eum? Nam assumenda possimus neque suscipit
      rerum quasi, voluptatibus dolorum adipisci magnam alias ad cum ipsam
      soluta architecto culpa provident consequuntur. Et amet cupiditate cum
      unde sunt, perferendis, quisquam ipsa rerum blanditiis illum eius
      laboriosam debitis harum dolore eos vitae voluptatum nesciunt repellat
      expedita. Hic ipsum accusamus qui natus reiciendis! Nihil iure adipisci
      aliquam fugiat suscipit dolor distinctio natus quo temporibus. Expedita
      eius assumenda eaque? Enim animi assumenda aperiam magnam. Dolore error ad
      iste laboriosam quae ex aliquid explicabo quibusdam sed nulla quaerat
      dolores officia repudiandae porro ut tenetur, nam maiores. Doloribus quam
      impedit esse dolores, fuga eaque sint, aperiam assumenda voluptate
      obcaecati, repudiandae ea nisi fugit magnam minima? Mollitia doloribus,
      non itaque, aperiam odio sint libero nesciunt facilis officia ea nemo
      veniam explicabo quam iusto rem voluptas nam est a culpa deleniti vitae.
      Dolores sunt ea quibusdam porro. Assumenda reprehenderit atque autem!
      Suscipit minima dolorum reiciendis temporibus quia vero sequi fugit,
      officiis mollitia asperiores quasi et dolores voluptates, ducimus eos
      blanditiis enim pariatur! Earum quae adipisci dignissimos accusamus
      aperiam recusandae ab voluptatum excepturi! Esse magnam ex similique
      officia non porro harum, obcaecati, excepturi, consequatur voluptatem
      veritatis. Deleniti atque ullam ipsum ut nisi mollitia enim neque, sit
      dolorum quibusdam unde vero rerum porro placeat libero voluptatem
      dignissimos autem quos magni blanditiis! Voluptatum soluta possimus
      laudantium distinctio nostrum libero expedita maiores iste veniam dolor
      non quibusdam aliquam corrupti perspiciatis quis doloribus, ab earum et
      placeat quo a? Perferendis quos quasi assumenda. Voluptas, doloremque
      corporis aspernatur at sapiente qui quae quas, voluptate atque fuga
      voluptatum, et praesentium unde in laudantium? Aspernatur cum
      exercitationem dicta nam? Aperiam numquam ducimus obcaecati. Ab quia eum
      fugiat officiis quos rem explicabo commodi doloremque incidunt iusto
      necessitatibus ipsa nesciunt, nihil hic perferendis reprehenderit,
      consequatur iste! Ullam tempore nulla minus natus, modi reprehenderit
      saepe porro ratione enim totam, temporibus voluptate obcaecati veniam quas
      sapiente? Reprehenderit, in fugiat quis voluptates ad unde dignissimos
      optio saepe id, laudantium totam porro temporibus, facilis architecto eos
      molestias quas maiores soluta mollitia amet nobis atque? Debitis
      consectetur eaque fuga aliquam eum qui repudiandae itaque eius. Voluptatem
      consequuntur saepe tempora earum vero molestiae temporibus id mollitia.
      Sunt cupiditate laborum ipsa similique. Recusandae hic facilis consequatur
      culpa aliquam delectus modi nam magnam tenetur commodi, magni aut ut.
      Velit dignissimos repudiandae reiciendis laudantium porro voluptas ut!
      Necessitatibus itaque tempora labore, nesciunt recusandae, adipisci iusto
      quae quo optio maxime voluptatem ullam fugiat fugit similique quod saepe
      incidunt molestiae iure voluptate, omnis officiis eum corporis! Molestias
      dignissimos iure veritatis cum a excepturi facere iusto accusamus. Maiores
      expedita asperiores fugiat totam minus hic dolorem in aliquam provident
      tenetur.
    </p>
  </body>
</html>
