<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/index.js" async defer></script>
  </head>
  <body>
    <div id="background"></div>
    <div id="nav">
      <div id="logo"></div>
      <a href="" class="btn"><p>Calendar</p></a>
      <a href="" class="btn"><p>Timer</p></a>
      <a href="" class="btn"><p>Login</p></a>
      <a href="" class="btn"><p>Sign-Up</p></a>
    </div>
    <div id="main"></div>
  </body>
</html>
