<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/index.js" async defer></script>
  </head>
  <body>
    <div id="background"></div>
    <div id="nav">
      <div class="auth-button-container" id="index-auth-container">
        <div class="login">
          <a href="/auth/login" class="btn"></a>
        </div>
        <div signin="signinn">
          <a href="/auth/signin" class="btn"></a>
        </div>
      </div>
    </div>
    <div id="main"></div>
  </body>
</html>
