<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/index.css" />
    <script src="js/index.js" async defer></script>
  </head>
  <body>
    <div id="background"></div>
    <div id="nav">
      <div class="auth-button-container" id="index-auth-container">
        <div class="login">
          <a href="/auth/login" class="btn"></a>
        </div>
        <div signin="signin">
          <a href="/auth/signin" class="btn"></a>
        </div>
      </div>
    </div>
    <div id="main">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus
        explicabo facilis et deserunt natus dolorem ducimus aliquam, pariatur
        odio possimus sint, officia sit, reprehenderit saepe. Eveniet nobis
        molestiae eum accusamus. Quae minima cumque illo. Exercitationem saepe
        quod nulla accusamus assumenda nam veritatis vitae iusto porro
        recusandae fuga qui tempore obcaecati reiciendis voluptas facere nostrum
        aliquam pariatur quam dignissimos, voluptatem rerum? Omnis numquam
        architecto dolor consequuntur possimus? Quisquam, ea non perferendis
        debitis autem quasi obcaecati aliquam. Amet corporis animi molestiae
        eaque, esse ipsum hic voluptates tempora, dolorum in quam ea tempore sit
        consectetur iure quia possimus? Error quaerat debitis incidunt sunt
        voluptatem pariatur. Enim maiores quisquam debitis corrupti cupiditate?
        Quia, maxime iusto! Itaque nobis, officia, eligendi nostrum culpa vel
        quidem accusantium delectus voluptas recusandae libero quod corrupti
        possimus vero impedit dolorem ducimus tenetur. Quidem maxime earum
        provident velit praesentium ullam ea commodi. Rem velit tempora
        consequatur exercitationem molestiae eveniet quae laudantium incidunt
        et, amet, reprehenderit, sint accusamus temporibus similique magnam
        doloribus numquam. Praesentium nostrum cum minus consectetur ea sit
        cumque minima accusamus. Asperiores eum, ad sunt assumenda blanditiis et
        magnam suscipit atque, officiis commodi vero molestiae, optio nam ab vel
        earum porro repudiandae odio! Amet, libero praesentium expedita deleniti
        omnis, et quas vero ipsum, odit voluptas repellendus illo sapiente fugit
        id atque suscipit officia. Quidem libero optio adipisci eos,
        perferendis, magni nihil fugiat accusantium temporibus, eius voluptatem.
        Provident velit excepturi nulla explicabo magnam asperiores eius
        doloribus culpa doloremque quis harum porro sint fugit quia, alias ea
        fugiat odit veniam? A fugiat earum soluta aliquam quas vero, maiores
        quisquam ab vitae suscipit aut ad adipisci voluptatem numquam officiis
        quam commodi qui in voluptate pariatur. Dolore necessitatibus corrupti
        pariatur aliquid! Ducimus facilis praesentium dolorem, quam inventore ab
        quia. Adipisci earum hic voluptates. Omnis error deserunt unde ratione!
        Debitis eveniet repudiandae ex blanditiis dolorum?
      </p>
    </div>
  </body>
</html>
