<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/auth.css" type="text/css" />
    <link rel="stylesheet" href="css/main.css" type="text/css" />
    <link rel="stylesheet" href="css/signup.css" />
    <script src="js/auth.js" async defer></script>
  </head>
  <body>
    <div id="nav">
      <a href="/" class="btn" id="logo"></a>
      <a href="" class="btn page" id="calendar"><p class="navp">Calendar</p></a>
      <a href="" class="btn page" id="timer"><p class="navp">Timer</p></a>
      <a href="/login" class="btn" id="login"><p class="navp">Login</p></a>
      <!--<a href="/signup" class="btn" id="signup"><p class="navp">Sign Up</p></a>-->
      <a href="" id="settings"
        ><img
          src="https://imgr.search.brave.com/eSOjuLYC1ZzytbaZeEJ9hYc6o47tGjag3s9swOS8rWw/fit/512/512/ce/1/aHR0cHM6Ly93d3cu/aWNvbnNkYi5jb20v/aWNvbnMvZG93bmxv/YWQvZ3JheS9zZXR0/aW5ncy0zLTUxMi5w/bmc"
          alt="settings"
          id="settings-img"
      /></a>
    </div>
    <div id="main">
      <div id="auth-container">
        <form action="" method="POST" id="auth-form">
          <input
            type="text"
            class="auth-input"
            id="username-input"
            placeholder="Enter Email..."
          />
          <input
            type="password"
            class="auth-input"
            id="password-input"
            placeholder="Enter Password..."
          />
          <input
            type="password"
            class="auth-input"
            id="password-confirm"
            placeholder="Confirm Password..."
          />
          <p id="error">Not the same password</p>
          <button class="submitter" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
  </body>
</html>
