#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.auth-container {
    background: #21262d;
    border: solid #21262d;
    height: 186.6px;
    width: 266px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 15vh;
}

#auth-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.submitter {
    background: #fff;
    width: 60px;
    height: 20px;
    border: solid white;
    border-radius: 5px;
}

.auth-input {
    height: 8vh;
    width: 30vh; 
    border-radius: 5px;
    border: solid #21262d;
    background-color: #fff;
}

.auth-input:focus-visible {
    outline: none;
}