#main {
  margin-top: 11vh;
}

#logo {
  margin-left: 20px;
  width: 45px;
  height: 45px;
  background-color: white;
  border-radius: 100%;
}

.auth-button-container {
  justify-self: flex-end;
}

.btn { 
  margin-right: 8px;
  color: black;
  border: solid gold;
  background-color: white;
}
