body,
html {
  margin: 0;
  height: 100vh;
  background: rgb(25, 25, 25);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#nav {
  position: fixed;
  top: 0;
  height: 11vh;
  min-height: 60px;
  width: 100%;
  background: rgb(45, 45, 45);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main {
  margin-top: 11vh;
}

.auth-button-container {
  margin: 4px;
  justify-content: flex-end;
}

.login {
  background-color: white;
}

.signin {
  background-color: white;
  color:white;
}
