body,
html {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(to bottom, white, darkgrey);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#nav {
  position: fixed;
  top: 0;
  height: 12vh;
  min-height: 60px;
  width: 100%;
  background: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main {
  margin-top: 12vh;
}

p {
  width: 200px;
}

.auth-button-container {
  margin: 4px;
  justify-content: flex-end;
}
