body,
html {
  margin: 0;
  height: 100vh;
  background: rgb(25, 25, 25);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#loggedIn {
  color: white;
}

#nav {
  position: fixed;
  top: 0;
  height: 11vh;
  min-height: 60px;
  width: 100%;
  background: rgb(45, 45, 45);
  display: flex;
  align-items: center;
}

.btn {
  position: absolute;
  text-decoration: none;
  width: 8%;
  background: rgb(65, 65, 65);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  filter: brightness(115%);
}

.btn:hover > p {
  font-size: 1.6vw;
}

#logo {
  background: rgb(60 60 60);
  height: 80%;
  width: 13%;
  left: 5%;
  overflow: hidden;
}

#calendar {
  left: 23%;
}

#timer {
  left: 30.3%;
}

#balls {
  left: 37.6%;
}

#login {
  height: 60%;
  left: 85%;
}

/*#signup {
  height: 60%;
  left: 85%;
}*/

#settings {
  position: absolute;
  background: rgb(60, 60, 60);
  border-radius: 50%;
  height: 80%;
  width: 4.5%;
  left: 94.25%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#settings-img {
  height: 80%;
  filter: brightness(100%);
  transition: all 2.4s;
}

#settings:hover > #settings-img {
  filter: brightness(200%);
  transform: rotateZ(360deg);
}

.navp {
  color: rgb(210, 210, 210);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5vw;
}

.page {
  height: 70%;
  border-radius: 5;
  width: 7%;
  background: rgb(60, 60, 60);
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 20px;
}

::-webkit-scrollbar-track {
  background: #ffffff00;
}

::-webkit-scrollbar-thumb {
  background: #8f8f8f;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
